@media (prefers-color-scheme: light) {
    body {
        background-color: aliceblue;
        color: #282828;
    }
    .linkbox {
        color:#282828;
    }
    .textbox {
        color:#282828;
    }
    a:link {
        color:#282828;
    }
    a:hover {
        color: grey;
    }
    header {
        background-color: aliceblue;
    }
    button {
        color:#282828;
        border-color:#282828;
    }
    .navlines div {
        background-color: #282828;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: aliceblue;
    }
    .linkbox {
        color: rgb(218, 218, 219);
    }
    .textbox {
        color: rgb(218, 218, 219);
    }
    a:link {
        color: rgb(218, 218, 219);
    }
    a:hover {
        color: aliceblue;
    }
    header {
        background-color: #282828;
    }
    button {
        color: aliceblue;
        border-color: aliceblue;
    }
    .navlines div {
        background-color: aliceblue;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    word-break: break-word;
    
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin: 10px;
}

a:link {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: rgb(139, 139, 140)
}

.linkbox {
    border-style: solid;
    border-radius: 24px;
    width:fit-content;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 2.4em;
    margin: 25px;
    margin-left: 10px;
    border-width: medium;
}

.textbox {
    border-style: solid;
    border-radius: 24px;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 2.4em;
    margin: 25px;
    margin-left: 10px;
    border-width: medium;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 10px 12px -12px aliceblue;
    border-bottom-style: solid;
    border-bottom-width: thick;
    padding-top: 10px;
}   

.dropdown-content {
    display: none; /* Initially hide the dropdown */
    margin-top: 10px; /* Space between button and dropdown */
}

.dropdown-content a {
    display: block; /* Make each link a block element */
}

button {

    border-style: solid;
    border-radius: 24px;
    width: fit-content;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 2.4em;
    margin: 25px;
    margin-left: 10px;
    border-width: medium;
    background-color: transparent;
    border-color: transparent;
}

.navlines div {
    height: 8px;
    background-color: aliceblue;
    margin: 5px 0;
    border-radius: 25px;
    transition: 1s;
}
.navlines {
    display: block;
    width: 60px;
}

.line1 {
    width: 60px;
}

.line2 {
    width: 40px;
}

.line3 {
    width: 50px;
}

.navlines:hover div {    
    width: 60px;
}
