@media (prefers-color-scheme: light) {
    body {
        background-color: aliceblue;
        color: #282828;
    }
    .linkbox {
        color:#282828;
    }
    .textbox {
        color:#282828;
    }
    a:link {
        color:#282828;
    }
    a:hover {
        color: grey;
    }
    header {
        background-color: aliceblue;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: aliceblue;
    }
    .linkbox {
        color: rgb(218, 218, 219);
    }
    .textbox {
        color: rgb(218, 218, 219);
    }
    a:link {
        color: rgb(218, 218, 219);
    }
    a:hover {
        color: aliceblue;
    }
    header {
        background-color: #282828;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 14pt;
    line-height: 1.6;
    word-break: break-word;
    
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: bold;
    margin: 10px;
}

a:link {
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: rgb(139, 139, 140)
}

.linkbox {
    border-style: solid;
    border-radius: 24px;
    width:fit-content;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 2.4em;
    margin: 25px;
    margin-left: 10px;
    border-width: medium;
}

.textbox {
    border-style: solid;
    border-radius: 24px;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-size: 2.4em;
    margin: 25px;
    margin-left: 10px;
    border-width: medium;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 10px 12px -12px aliceblue;
    border-bottom-style: solid;
    border-bottom-width: thick;
}   